@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>CaReS ® - Comprehensive Car-Rental Solution</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Car Rental Solution" />
    <meta name="keywords" content="Car Rental Solution" />
    <noscript>
        <link rel="stylesheet" href="../../Content/core.css" />
        <link rel="stylesheet" href="../../Content/core-desktop.css" />
        <link rel="stylesheet" href="../../Content/core-1200px.css" />
        <link rel="stylesheet" href="../../Content/core-noscript.css" />
        <link rel="stylesheet" href="../../Content/style.css" />
        <link rel="stylesheet" href="../../Content/style-desktop.css" />

    </noscript>
    <script src="../../Scripts/jquery.js"></script>
    <script src="../../Scripts/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="5grid-layout">
            <div class="row">
                <div class="4u" id="logo">
                    <h1><a href="#" class="mobileUI-site-name">CaReS ® </a></h1>
                </div>
                <div class="8u" id="menu">
                    <nav class="mobileUI-site-nav">
                        <ul>
                            <li id="1" ><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li id="2" class="current_page_item"> <a href="@Url.Action("Features", "Home")">Features</a></li>
                            <li id="3" class="menu_items"><a>Two Column #1</a></li>
                            <li class="menu_items"><a href="@Url.Action("RegisterUserByView", "Home")">Register</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Ends Here -->
    <!-- Wrapper -->
    <div id="wrapper" class="5grid-layout">

        <!-- Page Content -->
        <div id="page" class="row">

            <!-- Content Area -->
            <div id="content" class="12u">

                <!-- Main Content Area -->
                <section>
                    <h2 class="main-title">In a glance</h2>
                    <img src="../../Images/FeatureBanner_1.png" alt="" style="max-height: 400px">
                    <p>
                        CaReS ® is the next generation web based, auto rental management systems. It is a complete multitier, integrated system aimed specifically for rapidly growing businesses. The rich functionality and flexibility of CaReS assists in managing auto rental businesses to maintain a leading position ahead of the competition. It’s a sophisticated solution targeted to meet the specialized demands of car rental operations with a need for a specific industry and for a specific advanced cross-departmental rental and limousine services.
                        CaReS ® aimed at controlling cost and optimizing efficiencies while making use of latest technology to meet FAST-CHANGING Customer demands. CARES is designed using the latest technology and tools to provide economical solution that guarantees performance. The system provides an advanced online reservation system to accelerate rental operations and thus increase customer satisfaction and revenue generation. The Management is also provided with a speedy atmosphere where by the right information will be presented at the right time. Following are the key objectives that CaReS meet:
                        <ul class="a">
                            <li>
                                Implement and support fleet management operations, vehicle scheduling, and other back-office applications to achieve business efficiencies.
                            </li>
                            <li>
                                Strategize, build and manage multiple distribution channels to ensure ‘round-the-clock’ reservation services.
                            </li>
                            <li>
                                Maximize fleet utilization through advanced front-desk reservation system, fleet logistics and vehicle maintenance, managing overlapping reservations, fleet serving capacity.
                            </li>
                            <li>
                                Increase sales volume by improving customer satisfaction and revenue generation by customizing consistent, timely, and professional client follow up via a client database.
                            </li>
                            <li>
                                Tight integration and control of reservation and contract management.
                            </li>
                            <li>
                                Increase employee productivity efficiency by replacing manual work with standardized automated procedures, through a user friendly and intuitive car rental system.
                            </li>
                            <li>
                                Provide extensive executive reports, charting on the state of rental operations and financials.
                            </li>
                            <li>
                                Advanced Rate Management enables complete control over rate settings.
                            </li>
                            <li>
                                Internet based system and available wherever an Internet connection can be found - Home, Office, Hotel, Airport etc
                            </li>
                            <li>
                                To take advantage of visual representation of information, this will enable management to have a quick and clear understanding of the current business position.
                            </li>
                            <li>
                                The automated system will make provisions for information security and means of authorization levels which will protect confidential information.
                            </li>
                        </ul>





                    </p>
                </section>

            </div>

        </div>
        <!-- Page Content -->

    </div>
    <!-- Wrapper Ends Here -->
    <!-- Copyright -->
    <div class="5grid-layout" id="copyright">
        <div class="row">
            <div class="12u">
                <section>
                    <p>&copy; Your Site Name | Images: <a href="http://fotogrph.com/">Fotogrph</a> + <a href="http://iconify.it/">Iconify.it</a> | Design: <a href="http://html5templates.com/">HTML5Templates.com</a></p>
                </section>
            </div>
        </div>
    </div>


</body>
</html>