
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>CaReS ® - Comprehensive Car-Rental Solution</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Car Rental Solution" />
    <meta name="keywords" content="Car Rental Solution" />
    <noscript>
        <link rel="stylesheet" href="../../Content/core.css" />
        <link rel="stylesheet" href="../../Content/core-desktop.css" />
        <link rel="stylesheet" href="../../Content/core-1200px.css" />
        <link rel="stylesheet" href="../../Content/core-noscript.css" />
        <link rel="stylesheet" href="../../Content/style.css" />
        <link rel="stylesheet" href="../../Content/style-desktop.css" />

    </noscript>
    <script src="../../Scripts/jquery.js"></script>
    <script src="../../Scripts/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
</head>
    <body>
    
        <!-- Header -->
        <div id="header-wrapper">

            <header id="header">
                <div class="5grid-layout">
                    <div class="row">
                        <div class="4u" id="logo">
                            <h1><a href="#" class="mobileUI-site-name">CaReS ® </a></h1>
                        </div>
                        <div class="8u" id="menu">
                            <nav class="mobileUI-site-nav">
                                <ul>
                                    <li id="1" class="current_page_item"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li id="2" class="menu_items"> <a href="@Url.Action("Features", "Home")">Features</a></li>
                                    <li id="3" class="menu_items"><a>Two Column #1</a></li>
                                    <li class="menu_items"><a href="@Url.Action("RegisterUserByView", "Home")">Register</a></li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            <div id="banner" class="5grid-layout">
                <div class="row">
                    <div class="12u">
                        <section>
                            <div>
                            </div>
                            <h2>Solution for your <br>Car-Rental Business</h2>
                            <p class="banner-text">
                                If you are a car rental company and looking for a solution to manage your
                                day-to-day rental-operations, control over fleet and its pricing; you are at the right place.
                                <br>Register and start using. As simple as that.
                                We offer risk-free Cloud based solution with zero-down-time. A guarantee of minimum 5% increase in profit with no initial investment.
                            </p>
                            <a href="#" class="button button-style1 button-style2">Read More</a>
                        </section>

                    </div>
                </div>
            </div>

        </div>
        <!-- Header Ends Here -->
        <!-- Featured Area -->
        <div id="featured-wrapper">

            <div id="featured-content" class="5grid-layout">
                <div class="row">

                    <div class="4u">
                        <section>
                            <h2>Free - 0.0 $/month</h2>
                            <img src="../../Images/featured-icon01.png" width="91" height="100" alt="">
                            <p>
                                <ul class="a">
                                    <li>
                                        Unlimited use with no expiry
                                    </li>
                                    <li>
                                        One branch fully automated
                                    </li>
                                    <li>
                                        Reports & dashboards features
                                    </li>
                                    <li>
                                        Featured customization of pricing and tariffs
                                    </li>

                                </ul>
                                <ul style="margin-top: 55px"></ul>
                            </p>
                            <a href="#" id="1" class="button button-style1 reister_me">Register</a>
                        </section>
                    </div>

                    <div class="4u">
                        <section>
                            <h2>Pro - 199 $/month</h2>
                            <img src="../../Images/featured-icon02.png" width="91" height="100" alt="">
                            <p>
                                <ul class="a">
                                    <li>
                                        Unlimited use with no expiry
                                    </li>
                                    <li>
                                        12 Hours response time on email support
                                    </li>
                                    <li>
                                        Automation for upto 10 branches
                                    </li>
                                    <li>
                                        Fleet upto 200 vehicles
                                    </li>
                                    <li>
                                        Rental agreements cap upto 1000 a month
                                    </li>
                                    <li>
                                        Reports & dashboards features
                                    </li>
                                    <li>
                                        Complete customization of pricing and tariffs
                                    </li>
                                </ul>
                                <ul style="margin-top: 10px"></ul>
                            </p>
                            <a href="#" id="2"class="button button-style1 reister_me">Register</a>
                        </section>
                    </div>

                    <div class="4u">
                        <section>
                            <h2>Ultimate - 499 $/month</h2>
                            <img src="../../Images/featured-icon03.png" width="91" height="100" alt="">
                            <p>
                                <ul class="a">

                                    <li>
                                        Unlimited use with no expiry
                                    </li>
                                    <li>
                                        24/7 support
                                    </li>
                                    <li>
                                        Unlimited branches automation
                                    </li>
                                    <li>
                                        Unlimited vehicles for fleet
                                    </li>
                                    <li>
                                        No cap on Rental agreements
                                    </li>
                                    <li>
                                        Reports & dashboards features
                                    </li>
                                    <li>
                                        Complete customization of pricing and tariffs
                                    </li>
                                </ul>
                            </p>
                            <a href="#" id="3"class="button button-style1 reister_me">Register</a>
                        </section>
                    </div>

                </div>
            </div>

        </div>

        <!-- Featured Ends Here -->
        <!-- Wrapper -->
        <div id="wrapper" class="5grid-layout">

            <!-- Page Content -->
            <div id="page" class="row">

                <!-- Content Area -->
                <div id="content" class="8u">

                    <!-- Main Content Area -->
                    <section>
                        <h2 class="main-title">Comprehensive Car-Rental Solution</h2>

                        <a href="#" class="image-style1"><img src="../../Images/pic02.jpg" alt=""></a>
                        <p>
                            Welcome to <strong>CaReS ®</strong>, a free solution for small businesses. Register with us and we will email you all details, with user manuals and guidelines how you can take advantage of our limited time offer.
                            <strong>CaReS ®</strong> is a scalable application suite which is designed by highly qualified staff
                            with decades of experience in car rental industry. It gives its customers, a privilege
                            to customize pricing, define rates based on vehicles classification, define packages, create and configure
                            branches. It allows management to keep track of every kilometer milage on each vehicle in their fleet. Design is so
                            diverse that it offers monthly reporting to view profit & loss made by branch, vehicles and see the affect of pricing on sale.
                            Sales records give breakdown of rental charges, damages, services, chauffers-charges and all sorts of other charges. Attachments of services, e.g. Child-Seat & GPS is also available.
                            Multiple insurances can also be attached on based on company's policies and procedures.
                            Managers can now view reports and overall business progress on their mobile devices. <b><strong>CaReS ®</strong></b> allows integration services to your existing websites.
                            This will allow your customers to make online booking, select gadgets with booking and decide themselves of what they need.
                            And this is not all of it! Yes it is multilingual system completely configurable for Hijri and gregorian date time formats. <br> <strong>Register and enjoy it for free! </strong>
                        </p><a href="#" class="button button-style1">Read More</a>
                    </section>


                    <!-- Two Column Area -->
                    <section>
                        <div id="two-column" class="5grid">
                            <div class="row">
                                <div class="6u">
                                    <section>
                                        <h2>Featured Clients</h2>
                                        <p>
                                            Additional training of staff and guidance is provided to our featured clients, those include Ultimate license.
                                            As there is absolutely no initial investment, system which is deployed on cloud, we offer you with service of zero-down-time.
                                            On demand customization is available for our featured customers.
                                        </p>
                                        <ul class="style3">
                                            <li class="first">
                                                <p><span class="heading-title">Integration Services for Booking & Reservations</span></p>
                                                <p>
                                                    <a href="#">
                                                        System allows third party partner web-sites to get available vehicles & costing information from their
                                                        own fleet and pricing to give interface of online booking from their own websites.
                                                    </a>
                                                </p>
                                                <p><span class="date"><a href="#">Read More</a></span>
                                            </li>
                                            <li>
                                                <p><span class="date"><a href="#">20012.10.25</a></span><span class="heading-title">Etiam posuere augue</span></p>
                                                <p><a href="#">Quisque dictum. Integer nisl risus, sagittis elementum congue, nibh. Suspendisse dictum porta lectus.</a></p>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="6u">
                                    <section>
                                        <h2>Donec dictum metus</h2>
                                        <ul class="style4">
                                            <li class="first">
                                                <h3>Mauris vulputate dolor sit amet</h3>
                                                <p><a href="#">Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                                            </li>
                                            <li>
                                                <h3>Fusce ultrices fringilla metus</h3>
                                                <p><a href="#">In hac habitasse platea dictumst. Nullam id ante eget dui vulputate aliquam. Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum.</a></p>
                                            </li>
                                            <li>
                                                <h3>Donec dictum metus in sapien</h3>
                                                <p><a href="#">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. Suspendisse sit amet tellus in eros bibendum condimentum.</a> </p>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>

                <!-- Sidebar Area -->
                <div id="sidebar" class="4u">

                    <!-- Sidebar Section 1 -->
                    <section id="box1">

                        <!-- Two Column Content Area -->
                        <div class="5grid">
                            <div class="row">
                                <div class="6u">
                                    <section>
                                        <h3 style="font-size: 16px; font-weight:700">Featued Operations</h3>
                                        <ul class="style4">
                                            <li>Spot Rental</li>
                                            <li>Taxi Rental System</li>
                                            <li>Monthly Rentals</li>
                                            <li>Customer's Online Booking</li>
                                            <li>On Spot Agreement Printing</li>
                                            <li>Customers Demographics</li>
                                            <li>Integrated reporting system</li>
                                            <li>Vehicle Milage Recording</li>
                                            <li>Vehile Condition Recording</li>
                                            <li>Non-Revenue Tickets</li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="6u">
                                    <section>
                                        <h3 style="font-size: 16px; font-weight:700">Backend Management</h3>
                                        <ul class="style4">
                                            <li>Branch Automation</li>
                                            <li>Pricing and Tariff customization</li>
                                            <li>Vehicles status & conditions</li>
                                            <li>Insurance, Damages & Traffic Tickets</li>
                                            <li>Employees and Chauffeurs Management</li>
                                            <li>Customers Demographics</li>
                                            <li>Discount and Upgrading Policies</li>
                                            <li>Booking Managements</li>
                                            <li>Timely Progress Reports</li>
                                            <li>Overall Business Dashboards</li>
                                        </ul>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <!-- Two Column Content Area Ends Here -->

                    </section>

                    <!-- Sidebar Section 2 -->
                    <section id="box2">
                        <h2>Management Operations</h2>
                        <ul class="style2">
                            <li class="first">
                                <p><img src="../../Images/pics07.jpg" alt="">Allowing customer to make booking and reservations from your website.</p>
                            </li>
                            <li>
                                <p><img src="../../Images/pics08.jpg" alt="">Maximum ease of use, no hardware Infrastucture, no initial deployment cost.</p>
                            </li>
                            <li>
                                <p><img src="../../Images/pics09.jpg" alt="">Access acurate data to support decisions.</p>
                            </li>
                            <li>
                                <p><a href="#"><img src="../../Images/pics10.jpg" alt="">Aliquam lacinia metus ut elit. Suspendisse iaculis mauris nec lorem. Donec leo, vivamus fermentum augue praesent congue rutrum.</a></p>
                            </li>
                        </ul>
                        <a href="#" class="button button-style1">Read More</a>
                    </section>


                </div>

            </div>
            <!-- Page Content -->

        </div>
        <!-- Wrapper Ends Here -->
        <!-- Copyright -->
        <div class="5grid-layout" id="copyright">
            <div class="row">
                <div class="12u">
                    <section>
                        <p>&copy; Copyrights 2014 <a href="http://www.innostark.com/">InnoSTARK Technologie Pvt. Ltd. </a> | <a href="mailto:info@innostark.com"> info@innostark.com</a></p>
                    </section>
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $(".reister_me").click(function () {
                    window.location = "@(Url.Action("RegisterUserByView", "Home"))" + "?id=" + this.id;
                    return false;
                });
            });
        
        </script>
    </body>
</html>
