@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>CaReS ® - Comprehensive Car-Rental Solution</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Car Rental Solution" />
    <meta name="keywords" content="Car Rental Solution" />
    
        <link rel="stylesheet" href="~/Content/core.css" />
        <link rel="stylesheet" href="~/Content/core-desktop.css" />
        <link rel="stylesheet" href="~/Content/core-1200px.css" />
        <link rel="stylesheet" href="~/Content/core-noscript.css" />
        <link rel="stylesheet" href="~/Content/style.css" />
        <link rel="stylesheet" href="~/Content/style-desktop.css" />

    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="5grid-layout">
            <div class="row">
                <div class="4u" id="logo">
                    <h1><a href="#" class="mobileUI-site-name">CaReS ® </a></h1>
                </div>
                <div class="8u" id="menu">
                    <nav class="mobileUI-site-nav">
                        <ul>
                            <li id="1" ><a href="@Url.Action("Index", "Home")">Home</a></li>
                            <li id="2" class="menu_items"> <a href="@Url.Action("Features", "Home")">Features</a></li>                            
                            <li class="current_page_item"><a href="@Url.Action("RegisterUser", "Home")">Register</a></li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- Header Ends Here -->
    <!-- Wrapper -->
    <div id="wrapper" class="5grid-layout">

        <!-- Page Content -->
        <div id="page" class="row">

            <!-- Content Area -->
            <div id="content" class="12u" style="min-height: 250px;">

                <!-- Main Content Area -->
                <section>
                    <h2 class="main-title">Thank you!</h2>
                    
                    <p>
                        Thank you for the registration. We have sent you an email, please connfirm your subscirption by following the instructions in email. Enjoy CaReS ® experience!
                    </p>
                </section>

            </div>

        </div>
        <!-- Page Content -->

    </div>
    <div class="5grid-layout" id="copyright">
        <div class="row">
            <div class="12u">
                <section>
                    <p>&copy; Copyrights 2015 <a href="http://www.innostark.com/">InnoSTARK Technologie Pvt. Ltd. </a> | <a href="mailto:info@innostark.com"> info@innostark.com</a></p>
                </section>
            </div>
        </div>
    </div>


</body>
</html>