
@{
    ViewBag.Title = "Make Booking Final";
    Layout = null;
    
}
<head>
    <link href="~/Content/toastr.css" rel="stylesheet" />
</head>
<a  href='@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")'>
    <img src="~/Images/images/signature.png" />
    <input type="hidden" name="ServiceItemsIds" id="shortUrl" value="@Session["CompanyShortName"]" />
</a>
<script src="~/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="~/Scripts/toastr.js"></script>

<script>
    
    $(document).ready(function () {
        toastr.success("Booking successfully done!");
        window.location.href = "MoveToIndex";
    });
</script>