
@{
    ViewBag.Title = "Make Booking Final";
    Layout = null;
    
}
<a  href='@Url.Action("Index", Session["CompanyShortName"] + "/Rental/Index")'>
    <img src="https://groovehq.s3.amazonaws.com/uploaded/NkRfU31irDKzdiqcyPXx?1409687501" />

</a>