.Error {
    border: 1px solid red !important;
}

/* Jquery Pips Slider - Vehicle Selection */
    #circles-slider.ui-slider {
        -ms-border-radius: 20px !important;
        border-radius: 20px !important;
        background: darkred !important;
        border: none;
        height: 2px;
        margin: 1em 4em 4em;
    }

    #circles-slider .ui-slider-handle {
        -ms-border-radius: 23px !important;
        border-radius: 23px !important;
        height: 40px;
        width: 40px;
        top: -18px;
        margin-left: -11px;
        border: 3px solid #fffaf7;
        border-color: lightgray;
    }

    #circles-slider .ui-slider-handle .car {
        display: inline-block;
        padding: 7px;
        width: 25px;
        height: 25px;
    }

    #circles-slider .ui-slider-pip {
        top: -40px;
    }

    #circles-slider .ui-slider-pip .ui-slider-line {
        width: 4px;
        height: 4px;
        -ms-border-radius: 4px !important;
        border-radius: 4px !important;
        margin-left: -2px;
        background: #fffaf7;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-last,
    #circles-slider .ui-slider-pip.ui-slider-pip-first {
        top: -40px;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-line,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-line {
        display: none;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label,
    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
        margin: 0;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-first .ui-slider-label {
        left: 0;
        text-align: right;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-last .ui-slider-label {
        left: 0;
        text-align: left;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
        font-weight: normal;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-selected {
        font-weight: bold;
    }

    #circles-slider .ui-slider-pip.ui-slider-pip-selected,
    #circles-slider .ui-slider-pip.ui-slider-pip-selected-initial {
        color: #434d5a;
    }

    .sunrise-box {
        height: 290px;
        overflow: hidden;
        position: relative;
        top: 37px;
    }

    .vehicle-info {
        margin: 0 auto;
        padding-top: 230px;
        position: relative;
    }
  
  .vehicle-info .vehicle-img {
    width: 100%;
    height: 540px;
    position: absolute;
    top: -262px;
    z-index: 1;
    text-indent: -5000px;
}

  .vehicle-info p {
        color: #000;
    }

    p {
    line-height: 27px;
    }
    
    .bg-top {
        width: 99.6%;
        height: 330px;
        position: absolute;
        background-color: #070716;
    }

    .sunrise-box .sunrise {
        display: inline-block;
        width: 558px;
        height: 580px;
        padding-top: 56px;
        background-color: orange;
        font-size: 45px;
        font-weight: 300;
        -webkit-border-radius: 290px !important;
        -moz-border-radius: 290px !important;
        -ms-border-radius: 290px !important;
        border-radius: 290px !important;
    }

     .sunrise-box h4 {
        position: relative;
        top: 120px;
        font-size: 15px;
        font-weight: 400;
        color: #070716;
    }

    .sunrise-box p {
        color: #fff;
    }


    .vehicle-fleet .vehicle-info .copy {
        height: 180px;
        padding-top: 145px;
        position: relative;
        z-index: 2;
    }

    #vehicleSelectorContainer {
        padding: 0 0 50px;
        text-align: center;
    }

#showClassBtn {
    border: #cd0a0a;
    background-color: red !important;
    border-style: double;
    border-width: 2px;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    -webkit-font-smoothing: antialiased;
    min-width: 80px;
    margin: 0 5px 5px 0;
    /*background-color: #fafafa !important;*/
    background-image: none !important;
    filter: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    display: inline-block !important;
    /*color: #646464 !important;*/
    text-shadow: none !important;
    text-align: center;
    cursor: pointer;
    position: relative;
    -webkit-transition: all 0.3s ease !important;
    -moz-transition: all 0.3s ease !important;
    -ms-transition: all 0.3s ease !important;
    -o-transition: all 0.3s ease !important;
    transition: all 0.3s ease !important;
    margin-top: 20px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 41px;
    color: white;
    width: 200px;
}

input.backtoVehicleSliderBtn {
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 41px;
    color: white;
    float: left; 
    width: 49%; 
    margin-top: 17px;
    font-weight: inherit;
	padding: 0 42px 3px 21px;
}

input.backtoVehicleSliderBtn:hover {
	color: #afd2f9;
}

input.backtoVehicleSliderBtn.blue_button {
    background: url(../../Images/images/cancel_button.png) no-repeat left center #4296f0;
}

input.backtoVehicleSliderBtn.blue_button:hover {
    background: url(../../Images/images/cancel_button_hover.png) no-repeat left center #2F82EC;
}


#showClassBtn .badge {
        position: absolute;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px !important;
        font-weight: 300;
        top: -5px;
        right: -5px;
        padding: 3px 6px 3px 6px;
        color: white !important;
        border-width: 0;
        border-style: solid;
        -webkit-border-radius: 12px !important;
        -moz-border-radius: 12px !important;
        border-radius: 12px !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        text-shadow: none !important;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        background-color: darkred;
    }

 #accordion > h3 {
                margin-top: 5px;
            }

            #accordion > h3:first-child {
                margin-top: 0;
            }

            .ui-accordion-header-icon.ui-icon.ui-icon-minus {
                height: 17px;
                width: 16px;
                background-color: rgb(231, 231, 231);
            }

            #circles-slider {
                background-color: black;
            }

            input[type='button'] {
                cursor: pointer;
            }

   #tajeerIndexH1 {
       display: none
     }
   #div_1 {
       padding-top: 5% !important;float: right;
       z-index: 6
   }

   #div_2 {
       font-size: 25px !important
   }
   #div_3 {
       colour:Orange
   }
   #services {
       padding-top: 2px;
   }
   #facts-block {
       padding-bottom: 0px;
   }
   #overView {
       padding-top: 0px; padding-bottom: 0px;
   }
   #sign_up {
       padding-top: 0px; padding-bottom: 0px;
   }
   #mappedUrl {
        padding-top: 0px; font-size: 12px; text-align: left; width: 95%; color: #EC690C;
   }
   #urlErrorLabel {
       text-align: left;display: none; width: 95%; color: white
   }
   #div_4 {
       margin-top: -12px;
   }
   #contactMe {
        padding-top: 0px;
   }
   #L1,#L2,#L3,#L4,#L5,.sidebar2 {
       float: left
   }
   #div_6 {
       text-align: left
   }
   .signUpFonts {
         font-family: "Open Sans";
    font-size: 14px;
   }
   h1,h2,h3 {
       font-family: "Open Sans";
   }
   .logo-style {
       height: 57px;
    width: 153px;
    margin-top: -18px
   }

    .lang {
            cursor: pointer
        }